* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.options-container {
  height: 3rem;
  width: 3rem;
  background-color: pink;
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.2rem;
}
img {
  display: block;
}
.tools-container {
  display: flex;
  height: 3.5rem;
  width: 74vw;
  background-color: yellow;
  justify-content: space-around;
  position: absolute;
  top: 1.5rem;
  left: 20vw; /* It means 10% of the entire screen width */
}
.tools-container > * {
  display: block;
  width: 2.5rem;
}
.pencil-tool-container {
  height: 4rem;
  width: 5.5rem;
  background-color: yellow;
  position: absolute;
  top: 5rem;
  left: 20vw;
  display: none;
}
.pencil-width-container {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pencil-width-container input {
  width: 80%;
}
.pencil-color-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: calc(100% - 2rem);
}
.pencil-color {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}

.eraser-tool-container {
  height: 2rem;
  width: 5rem;
  background-color: yellow;
  position: absolute;
  top: 5rem;
  left: 32vw;
  display: none;
  justify-content: center;
  align-items: center;
}
.eraser-tool-container input {
  width: 80%;
}
.scale-tools {
  animation-name: scale-tools-animation;
  animation-duration: 1s;
}
@keyframes scale-tools-animation {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

.sticky-container {
  height: 13rem;
  width: 10rem;
  position: absolute;
  top: 12rem;
  left: 10rem;
  /* display: none; */
}

.header-container {
  height: 2.2rem;
  background-color: green;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.notes-container {
  height: calc(100% - 2.2rem);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}
.header-container > * {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.minimize {
  background-color: yellow;
}
.remove {
  background-color: orange;
}
textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}
img {
  width: 100%;
  height: 100%;
}
canvas {
  background-color: white;
}
